.name {
  font-family: var(--font-caveat);
  background-image: linear-gradient(to right, #3b82f6, #a855f7, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 6rem;
}

.route {
  font-family: var(--font-caveat);
  background-image: linear-gradient(to right, #3b82f6, #a855f7, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 2rem;
}
