.container {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  padding: 10px 10px 14px;
  width: 7rem;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.32) 0px 14px 32px -18px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px;
}

.iconContainer {
  aspect-ratio: 1 / 1;
  border-radius: 2px;
  background: rgb(247, 220, 245);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.visibleId {
  position: absolute;
  top: 4px;
  right: 4px;
  color: rgba(0, 0, 0, 0.35);
  font-size: 8px;
}

.iconBox {
  background-color: rgb(139, 91, 255);
  border-radius: 100%;
  color: white;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(139, 91, 255, 0.5) 0px 10px 20px -8px;
}

.label {
  font-family: var(--font-caveat);
  font-size: 20px;
  text-align: center;
  margin-top: 4px;
}

.purple .icon { background: #7c3aed; }
.pink .icon   { background: #ec4899; }
.blue .icon   { background: #6366f1; }
.darkPurple .icon  { background: #7e22ce; }

.purple .iconBox { background: #7c3aed; }
.pink .iconBox   { background: #ec4899; }
.blue .iconBox   { background: #6366f1; }
.darkPurple .iconBox  { background: #7e22ce; }

.purple .label { color: #7c3aed; }
.pink .label   { color: #ec4899; }
.blue .label   { color: #6366f1; }
.darkPurple .label { color: #7e22ce; }
